.idea
src
node_modules
gulpfile.js
NasimBotPlatform.iml
typings
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
samples
lib/ir/elenoon/botplatform/tests